/* Main App CSS - Import all component styles */
@import './index.css';
@import './components/Header/Header.css';
@import './components/Footer/Footer.css';
@import './components/Panels.css';
@import './components/Cards.css';
@import './components/Forms.css';
@import './components/StatusPanel/StatusPanel.css';
@import './components/TransitionPanel/TransitionPanel.css';
